nav ul{
  list-style: none;
  padding: 0;
}

nav li{
  margin: 10px 0;
}

nav a{
  text-decoration: none;
  color: #2346f6;
  font-weight: bold;
}

button{
  width: 100%;
  padding: 10px;
  border: none;
  background: #dddddd;
  cursor: pointer;
}
button:hover{
  background: #cccccc;
}
