<button (click)="toggleFooter()">Toggle Footer</button>
<button (click)="moreContent('Product')">Show more</button>

<nav *ngIf="showFooter">
  <nav class="footer-nav">
    <a routerLink="/home_menu" routerLinkActive="active">Головна</a>
    <a routerLink="/login" routerLinkActive="active">Ввійти</a>
    <a routerLink="/register" routerLinkActive="active">Зареєструватись</a>
    <a routerLink="/settings" routerLinkActive="active">Налаштування профіля</a>
  </nav>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div>
      <label>Ім'я:</label>
      <input type="text" formControlName="username">
      <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
        Ім'я обов'язкове для введення (мін. 3 символи)
      </div>
    </div>
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email">
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        Введіть коректний емейл
      </div>
    </div>
    <div>
      <label>Пароль:</label>
      <input type="password" formControlName="password">
      <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        Пароль обов’язковий (мін. 4 символів)
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid">Зареєструватися</button>
  </form>
</nav>
